.Greeting {
  background-color: blueviolet;
  color: aliceblue;
}
.RegisterForm {
  background-color: red;
  color: antiquewhite;
  padding: 20px;
}
.Condition {
  margin: 200px;
}
.useStateForm {
  margin: 200px;
}

.Img-Container {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  cursor: pointer;
  background-color: aqua;
}
.image {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  cursor: pointer;
  /* background-color: aqua; */
}
