.Greeting {
  background-color: blueviolet;
  color: aliceblue;
}
.RegisterForm {
  background-color: red;
  color: antiquewhite;
  padding: 20px;
}
.Condition {
  margin: 200px;
}
.useStateForm {
  margin: 200px;
}

.Img-Container {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  cursor: pointer;
  background-color: aqua;
}
.image {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  cursor: pointer;
  /* background-color: aqua; */
}

.light {
  background-color: aliceblue;
  color: black;
  padding: 50px;
}
.black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 50px;
}

/* Routing */
.Header {
  width: 100%;
  height: 10vh;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
